body{
  background-color: grey;
}
.bigBox{
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.miniBox{
  background-color: #fff;
  margin-top: 50px;
  min-height: 100px;
  width: 400px;
  border: 2px solid black;
  word-wrap: break-word;
}
.mainBox{
  padding: 30px;
  text-align: center;
}

.listBox{
  background-color: rgb(177, 228, 167);
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  /* color: black; */
}

.checkbox{
  margin-left: 15px;
}
.remove{
  margin-left: 10px;
  background-color: red;
  color: #fff;
}
.newDiv{
  width: 300px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 5px;
}
.inputRead{
  background-color: transparent;
  border: none;
  outline: none;
  color: grey
}
.add{
  background-color: #02da5c;
  color: #fff;
}
.strikethrough{
  text-decoration: line-through;
}